@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body,html {
        /* colors */

        --clr-primary-000: #EAC899;
        --clr-primary-200: #E9EAE5;
        --clr-primary-400: #EAC899;
        --clr-primary-600: #D6B07B;
        --clr-primary-800: #B6915D;
        --clr-primary-1000: #927752;

        --clr-btn-hover-bg: #FFA564;
        --clr-btn-focus-brdr: #FFCCA7;

        --clr-navy-blue: #5F797A; 
        --clr-navy-blue-light: #38626B; 
        --clr-navy-blue-dark: #124147; 

        --clr-greyscale-000:#FFFFFF;
        --clr-greyscale-200: #F2F4F8;
        --clr-greyscale-400: #AEBCC6;
        --clr-greyscale-600: #81807C;
        --clr-greyscale-800: #575753;

        --clr-heading-1: #3D4452;

        /*   'PT Sans' & 'Oswald' */

        font-family: 'Oswald', sans-serif;

        overflow-x: clip;

         /* width */

         --content-width-1280: 1120px; /* 1220px */
         --content-width-720: 648px; /* 653.33px ? */
         --content-width-320: 287px; /* 304px ? */
         --content-width: clamp(var(--content-width-720), 2.5714rem + 84.2857vw, var(--content-width-1280));
         
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Oswald;
    font-size: 54px;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 0.05em;
}

h3 {
    font-family: Oswald;
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
}

h4 {
    font-family: Oswald;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75rem;
}

h5 {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

label {
    user-select: none;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.btn-primary {
    display: inline-block;
    border: none;
    background-color: var(--clr-primary-800);
    padding: 0.875rem 1.5rem 0.875rem 1.5rem;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--clr-greyscale-000);
    cursor: pointer;
    transition: background-color 100ms;
    transition: outline 100ms, border 100ms, outline-offset 100ms;
}

.btn-outline {
    background-color: transparent;
    /* background-color: var(--clr-greyscale-000); */
    color: var(--clr-primary-800);
    outline: 2px solid var(--clr-primary-800);
    padding: 0.625rem 1.375rem;
    transition: outline 100ms, border 100ms, outline-offset 100ms;
}



.small-text-bald {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-greyscale-000);
}

.btn-primary:hover {
    background-color: var(--clr-btn-hover-bg);
}

.btn-primary:active {
    background-color: var(--clr-primary-800);
    outline: 2px solid var(--clr-btn-focus-brdr);
}

.btn-outline:hover {
    background-color: var(--clr-greyscale-000);
    color: var(--clr-primary-800);
    outline: 2px solid var(--clr-btn-hover-bg);
}

.btn-outline:active {
    background-color: var(--clr-greyscale-000);
    color: var(--clr-primary-800);
    border-radius: 4px;
    outline: 2px solid var(--clr-primary-1000);
    outline-offset: -2px;
    /* border: 8px solid var(--clr-btn-focus-brdr); */
}

@media screen and (max-width: 720px) {
    body {
        --content-width: clamp(var(--content-width-320), -0.1125rem + 90.25vw, var(--content-width-720));
    }
}

.content {
    width: var(--content-width);
    margin: 0 auto;
    position: relative;
}

.full {
    width: 100vw;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1E2020;
}

main > * {
    width: 100%;
  }
  
main {
    width: 100vw;
}

.horizontal-scroller {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow-x: auto;
}

.horizontalscroll::-webkit-scrollbar {
    position: absolute;
}

.nowrap {
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}

.section-scrollabale-tabs {
    gap: 20px;
}

.section-scrollabale-tabs label{
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--clr-greyscale-600);
    position: relative;
    padding-bottom: 12px;
}


/* swiper default stile override */


.swiper-button-next:after {
    transform: translateX( calc( -1 * var(--_padding-right)  ) );
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    transform: translateY(5px);
    left: 0;
    width: var(--content-width);
}

.swiper-button-prev ,
.swiper-button-next {
    background-image: url('../img/advantages/swiper-prev.png');
    background-size: cover;
    width: 64px;
    height: 64px;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.swiper-button-prev:hover ,
.swiper-button-next:hover {
    scale: 1.025;
    transform-origin: center;
}

.swiper-button-prev {
    left: 0;
    transform: translate(-30px, -50%);
}

.swiper-button-next {
    right: 0;
    transform: translate(30px, -50%) scaleX(-1);
    
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
}

/* hide default arrows */
.swiper-button-next:after, .swiper-button-prev:after {
    color: transparent;
}

.swiper-horizontal>.swiper-scrollbar {
    background-color: transparent;
    border-bottom: 2px solid var(--clr-greyscale-400);
}

.swiper-scrollbar-drag {
    border-radius: none;
    height: 4px;
    background-color: var(--clr-primary-800);
}




