@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap');

body,html {
        /* colors */

        --clr-primary-000: #EAC899;
        --clr-primary-200: #F5DDBA;
        --clr-primary-400: #EAC899;
        --clr-primary-600: #D6B07B;
        --clr-primary-800: #B6915D;
        --clr-primary-1000: #927752;

        --clr-btn-hover-bg: #FFA564;
        --clr-btn-focus-brdr: #FFCCA7;

        --clr-navy-blue: #5F797A; 
        --clr-navy-blue-light: #38626B; 
        --clr-navy-blue-dark: #124147; 

        --clr-greyscale-000:#FFFFFF;
        --clr-greyscale-200: #F2F4F8;
        --clr-greyscale-400: #AEBCC6;
        --clr-greyscale-600: #7E8385;
        --clr-greyscale-800: #1E2020;

        /*   'PT Sans' & 'Oswald' */

        font-family: 'Oswald', sans-serif;

        overflow-x: clip;

         /* width */

         --content-width-1280: 1120px; /* 1220px */
         --content-width-720: 648px; /* 653.33px ? */
         --content-width-320: 287px; /* 304px ? */
         --content-width: clamp(var(--content-width-720), 2.5714rem + 84.2857vw, var(--content-width-1280));
         
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Oswald;
    font-size: 54px;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 0.05em;
}

h3 {
    font-family: Oswald;
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
}

h5 {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

.flex {
    display: flex;
    align-items: center;
}

.btn-primary {
    display: inline-block;
    border: none;
    background-color: var(--clr-primary-800);
    padding: 0.875rem 1.5rem 0.875rem 1.5rem;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--clr-greyscale-000);
    cursor: pointer;
    transition: background-color 100ms;
}

.small-text-bald {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-greyscale-000);
}

.btn-primary:hover {
    background-color: var(--clr-btn-hover-bg);
}

.btn-primary:active {
    background-color: var(--clr-primary-800);
    outline: 2px solid var(--clr-btn-focus-brdr);
}

@media screen and (max-width: 720px) {
    body {
        --content-width: clamp(var(--content-width-320), -0.1125rem + 90.25vw, var(--content-width-720));
    }
}

.content {
    width: var(--content-width);
    margin: 0 auto;
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1E2020;
}

main > * {
    width: 100%;
  }
  
main {
    width: 100vw;
    overflow: none;
}


