/* bg */

.section-hero-wrap {
  position: relative;
  height: 594px;
  width: var(--content-width);
  margin: 0 auto;
}

header {
  box-shadow: 5px 6px 9px 5px #D2D2D226;
}

.section-hero {
  background-image: url('../img/hero/hero_bg.webp');
  height: 37.125rem;
  background-size: cover;
  background-position: center;
  position: relative;
}

.section-hero img {
  height: 100%;
  position: absolute;
  left: 47%;
  user-select: none;
}

.hero-promo-banner {
  background-color: var(--clr-primary-800);
  padding: 0.9375rem 1.5rem ;
  color: var(--clr-greyscale-000);
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  right: 0;
  bottom: 28%;
  width: 240px;
}

.hero-promo-banner > div > span {
  font-family: PT Sans;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 17px;
  color: var(--clr-navy-blue-dark);
}

.hero-promo-banner > a {
  display: flex;
  align-items: center;
  font-family: PT Sans;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  gap: .5rem;
  color: var(--clr-greyscale-000)
}

.hero-promo-banner h4 {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 3px;
  max-width: 13ch;
}

.hero-headings {
  position: absolute;
  top: 13.3875rem;
  color: var(--clr-greyscale-000);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-headings h1 {
  text-transform: uppercase;
  max-width: 19ch;
  margin-top: .5rem;
  margin-bottom: 0.75rem;
}

.hero-headings > div {
  gap: 2rem;
}

.hero-bottom-banner {
  position: absolute;
  width: 100%;
  height: 120px;
  background-color: var(--clr-primary-800);
  bottom: 0;
}

.hero-bottom-banner {
  padding: 2.3125rem 6.0625rem 2.3125rem 2.625rem ;
  display: flex;
  justify-content: space-between;
}

.hero-bottom-banner-right {
  display: flex;
  gap: 40px;
}

.hero-bottom-banner-right > div {
  display: flex;
  gap: 10px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.hero-bottom-banner-left > *,
.hero-bottom-banner-right > div > span {
  color: var(--clr-greyscale-000);
  white-space: nowrap;
}



.section-hero-additional-banner {
  box-shadow: 5px 6px 9px 5px #D2D2D226;
  background-color: #fff;
  height: 60px;
  position: sticky;
  top: 60px;
}

.section-hero-additional-banner nav ul {
  display: flex;
  height: 60px;
  width: var(--content-width);
  gap: 1.125rem;
  align-items: center;

}

.section-hero-additional-banner nav ul li {
    font-family: Oswald;
    font-size: 1rem;
    font-weight: 300;
    line-height: 24px;
    color: var(--clr-greyscale-800);
    height: 100%;
    /* background-color: red; */
    display: grid;
    place-items: center;

}

.section-hero-additional-banner nav ul li > a {
  height: 100%;
  display: grid;
  place-items: center;
  white-space: nowrap;
}


.section-hero-additional-banner nav ul li:last-child {
  margin-left: auto;
}

.section-hero-additional-banner .current-link {
  position: relative;
}

.section-hero-additional-banner .current-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--clr-primary-800);
  position: absolute;
  bottom: 0;
}

.section-hero-additional-banner button {
  font-family: Oswald;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3125rem;
  padding: 0.25rem 1.5rem ;
  outline: none;
  border: none;
  background-color: var(--clr-navy-blue-dark);
  
}

.section-hero-additional-banner button a {
  color: var(--clr-greyscale-000);
  white-space: nowrap;
}

@media screen and (max-width: 1280px) { 

  .section-hero img {
    left: unset;
    right: 0;
    bottom: 15%;
    height: 29.6875rem;
    /* transform: translateX(-60%) translateY(10%); */
  }
}

@media screen and (max-width: 1000px) {

  .hero-headings {
    top: 7rem;
    
  }
  .section-hero-additional-banner {
    display: none;
  }

  .hero-headings > div {
    display: block;
  }

  .hero-headings > div > button {
    margin-top: 1.25rem ;
  }

  .section-hero {
    height: 37.125rem;
    background-position: 20%;
  }


  .hero-bottom-banner {
    padding: 2.3125rem 2.625rem;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    bottom: -5rem;
    height: fit-content;
  }

  .hero-bottom-banner-right {
    justify-content: space-between;
    width: 100%;
  }

  .hero-promo-banner {
    top: unset;
    bottom: 50px;
    z-index: 10;
    right: 2.5rem;
    /* pretty please */
    /* border-radius: 4px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}

@media screen and (max-width: 800px) { 
  .hero-bottom-banner {
    padding: 2.3125rem 1.25rem;
  }

  .hero-bottom-banner-right {
    gap: 0;
  }
}

@media screen and (max-width: 680px) { 

  .hero-promo-banner h4 {
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 3px;
    max-width: 222ch;
  }

  .hero-promo-banner {
    top: 0;
    left: 0;
    bottom: unset;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0px;
    padding-inline: 0;
    box-shadow:  0 0 0 100vmax var(--clr-primary-800);
    clip-path: inset(0 -100vmax);
  }

  .hero-promo-banner span {
    display: none;
    width: fit-content;
  } 

  .hero-promo-banner > a {
    display: inline;
  }

  .hero-headings h5 {
    max-width: 18ch;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1.125rem;
  }

  .hero-headings h1 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.25rem;
    letter-spacing: 0.05em;
    max-width: 12ch;
    margin-bottom: 1.125rem;
  }

  .hero-headings h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0em;
    text-align: left;
  }

  .hero-promo-banner h4 {
    font-size: 18px;
    line-height: 21px;
  }
  .hero-bottom-banner {
    padding: 1.375rem 1.125rem 2.25rem 1.125rem;
  }

  .hero-bottom-banner-right {
    flex-direction: column;
    row-gap: 1rem;

  }

  .hero-bottom-banner-right > div > span br:nth-of-type(2) {
    display: none;
  }

  .hero-promo-banner h4:nth-of-type(1),
  .hero-promo-banner br {
    display: none;
  }

}

@media screen and (max-width: 560px) { 
  .section-hero img {
    height: 29.6875rem;
    right: unset;
    left: 0px;
    left: 125px;
    left: clamp(0rem, -10.4167rem + 52.0833vw, 7.8125rem);
    bottom: 48px;   
    transform: translateX(0%) translateY(10%) scaleX(0.55);
  }

  .section-hero {
    background-image: url('../img/hero/hero_bg.webp');
    background-size: fill;
    background-position: 30%;
    position: relative;
  }
  

}